{
  "extends": ["standard", "airbnb", "prettier", "prettier/react"],
  "plugins": ["react-hooks"],
  "env": {
    "browser": true
  },
  "parser": "babel-eslint",
  "rules": {
    "no-plusplus": [0],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": [0],
    "react/jsx-props-no-spreading": [0],
    "import/prefer-default-export": [0],
    "react/no-array-index-key": [0],
    "react/no-danger": [0],
    "react-hooks/rules-of-hooks": "warn",
    "react-hooks/exhaustive-deps": "warn",
    "jsx-quotes": ["error", "prefer-double"],
    "jsx-a11y/anchor-is-valid": 0,
    "no-shadow": 0,
    "no-unused-expressions": 0,
    "arrow-body-style": 0,
    "react/destructuring-assignment": 0,
    "no-unused-vars": 0,
    "no-unneeded-ternary": 0,
    "array-callback-return": 0,
    "import/no-unresolved": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "spaced-comment": 0
  }
}
